@import "tailwindcss";

:root {
  font-family: system-ui, Helvetica, Arial, sans-serif;
  color: rgb(0, 0, 0);
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  font-weight: 600;
}